*, ::before, ::after {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: $accentColor;
}

body {
  font-family: 'Source Han Sans SC VF', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

code, kbd, .line-number {
  font-family: 'CaskaydiaCove Nerd Font', 'Source Han Sans SC VF', Consolas, monaco, monospace;
  font-feature-settings: 'ss01', 'ss02', 'ss03', 'ss04', 'ss05', 'ss06', 'zero', 'onum';
}

.navbar .logo {
  transition: all, 0.3s;
}

.navbar a:hover .logo {
  transform: rotate(180deg);
}
